<div class="container">
    <div class="row">
        <div class="col-6 col-sm-3">Lorem ipsum dolor sit amet,
           consectetur adipiscing elit. Vivamus efficitur ligula lectus
           , vel suscipit nunc faucibus et. Fusce porttitor lectus metus, 
           cursus volutpat elit rutrum a. Duis maximus, ante ut suscipit dignissim, 
           nulla lacus venenatis arcu, vitae facilisis erat orci vel nibh.
            </div>
        <div class="col-6 col-sm-3">Lorem ipsum dolor sit amet,
            consectetur adipiscing elit. Vivamus efficitur ligula lectus
            , vel suscipit nunc faucibus et. Fusce porttitor lectus metus, 
            cursus volutpat elit rutrum a. Duis maximus, ante ut suscipit dignissim, 
            nulla lacus venenatis arcu, vitae facilisis erat orci vel nibh.
         </div>
        <!-- Add the extra clearfix for only the required viewport -->
        <div class="clearfix hidden-sm-up"></div>
        <div class="col-6 col-sm-3">Lorem ipsum dolor sit amet,
            consectetur adipiscing elit. Vivamus efficitur ligula lectus
            , vel suscipit nunc faucibus et. Fusce porttitor lectus metus, 
            cursus volutpat elit rutrum a. Duis maximus, ante ut suscipit dignissim, 
            nulla lacus venenatis arcu, vitae facilisis erat orci vel nibh.
             </div>
        <div class="col-6 col-sm-3">Lorem ipsum dolor sit amet,
            consectetur adipiscing elit. Vivamus efficitur ligula lectus
            , vel suscipit nunc faucibus et. Fusce porttitor lectus metus, 
            cursus volutpat elit rutrum a. Duis maximus, ante ut suscipit dignissim, 
            nulla lacus venenatis arcu, vitae facilisis erat orci vel nibh.
        </div>
    </div>
    <div class="row">
        <div class="ui-g ui-fluid">
            <div class="ui-g-12 ui-md-4">
                <div class="ui-inputgroup">
                    <span class="ui-inputgroup-addon"><i class="fa fa-user"></i></span>
                    <input type="text" pInputText placeholder="Username">         
                </div>
            </div>
        </div>
    </div>
    <p-chart type="pie" [data]="data"></p-chart>
</div>
  