/* The sidebar menu */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #464646;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 10px;
}

.sidenav a {
  color: white;
  padding: 10%;
  text-decoration: none;
  font-size: 20px;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #cccccc;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

main {
  transition: margin-left .5s;
  padding: 16px;
}

@media screen and (max-height: 450px) {
.sidenav {padding-top: 15px;}
.sidenav a {font-size: 18px;}
}
img {
  width: 120px;
  margin: 10%;
}