/* The sidebar menu */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #464646;
  overflow-x:hidden;
  transform: translate(0,0);
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out; /** Firefox **/
  -o-transition: all -2s ease-in-out; /** Opera **/
  padding-top: 10px;
}

.sidenav a {
  color: white;
  padding: 10%;
  text-decoration: none;
  font-size: 15px;
  display: block;
  transform: translate(0,0);
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out; /** Firefox **/
  -o-transition: all -2s ease-in-out; /** Opera **/
}

.sidenav a:hover {
  color: #cccccc;
}

.sidenav .closebtn {
  position: absolute;
  top: -20px;
  right: 0px;
  font-size: 30px;
  margin-left: 80px;
  color: #cccccc;
}

#main {
  transform: translate(0,0);
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out; /** Firefox **/
  -o-transition: all -2s ease-in-out; /** Opera **/
}

@media screen and (max-height: 450px) {
.sidenav {padding-top: 15px;}
.sidenav a {font-size: 18px;}
}
img {
  width: 120px;
  margin-top: 10%;
  margin-right: 10%;
  margin-left: 10%;
  margin-bottom: 40px;
}
.sidenav ul{
  list-style-type: none;
  color: white;
  font-size: 20px;
}
.sidenav ul li{
  margin-top: 3px;
  font-weight: lighter;
}
.sizeimg img{
  width: 30px;
  float: left;
  padding-top: 5px;
  margin-top: -10px;
  max-width: 100px;
}